html, body {
  margin: 0px;
  height: 100%;
}

#panels-wrapper
{
	display: flex;
	width: 1920px;
	height: 850px;
	justify-content: space-around;

	background-color: #444;

}


input[type="checkbox"] {
	margin:0px;
}

.force-hide{
	 display: none;
}



#names-panel-container
{
	background-color: aqua;
	width: 30%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	
}

#names-panel-container input
{
	
	width: 100%;
	height: 100%;
	
	
}

.add-new-row-button
{
	background-color: #7cf18a;
	border-color: #009926;
	border-radius: 5px;
	transition-duration: 0.4s;
	
}

.add-new-row-button:hover
{
	transition-duration: 0.0s;
	background-color: #a1f8aa;
	border-color: #02be34;
	border-radius: 0px;

}

.add-new-row-button:active
{
	transition-duration: 0.0s;
	background-color: #005409;
	border-color: #009926;
	border-radius: 0px;
	color: #ffffff;
	padding-top: 5px;

}


.text-input-name
{
	border-radius: 5px;
	border-color: #939393;
	background-color: #e5ecff;
	
}

/*input[type=text]:focus {
	border-width: 0px;
}*/

.text-input-subtext
{
	border-radius: 5px;
	border-color: #939393;
	background-color: #e5ecff;

}

.delete-mode-on
{
	background-color: #c72222;
	font-size: 10px;
	border-radius: 5px;
	border: 1px solid #030303;
}

.delete-mode-on:hover
{
	background-color: #fd4c4c;
	color: white;
	border-radius: 0px;
}

.delete-mode-off
{
	background-color: #cfdeff;
	font-size: 10px;
	border-radius: 5px;
	border: 1px solid #030303;
}

.delete-mode-off:hover
{
	background-color: #4c9ffd;
	color: white;
	border-radius: 0px;
}

.button {
	transition-duration: 0.4s;
}

.button:hover {
	
}

.button:active {
	transition-duration: 0s;
	background-color: #232323;
	color: white;
	padding: 5px;
}




/* width */
::-webkit-scrollbar {
	width: 6px;
	height: 5px;
	padding-inline: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555;

  }

#preview-panel-container
{
	background-color: red;
	width: 595px;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}
#templates-panel-container
{
	background-color: rgb(74, 41, 74);
	width: 30%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

#sidebar {
	grid-area: sidebar;
	overflow-y: scroll;
}

#content {
	grid-area: content;
}

.header {
	grid-area: header;
	font-family: Helvetica, sans-serif
}

.footer{
  grid-area: footer;
}

.sideBarItem{
	max-height: 50px;
	max-width: 50px;
	padding:5px;
}

.sideBarItem img{
	max-height: 50px;
	max-Width:50px;
}

.colourPalette{
	grid-area: colourP;
	display:flex;
	flex-direction:grid;
	flex-flow: wrap;
}

.options{
	grid-area: options;
	padding: 15px;
}

.colourSwatches{
	box-sizing: border-box;
	width: 40px;
	height: 40px;
	max-height: 40px;
	max-width: 40px;
	margin: 5px;
}


	.wrapper {
		display: grid;
		height: 100%;
		grid-template-columns: 70px 230px  minmax(500px, 1fr);
		grid-template-rows: 35px minmax(500px, 1fr) 160px;
		grid-template-areas:
               "header header header"
				"sidebar content content"
                "colourP colourP options";
		background-color: #fff;
		color: #444;
	}
.box {
  background-color: #444;
  color: #fff;
  font-size: 150%;
}

.header {
  background-color: #999;
}




